BasedOnStyle: GNU
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: Consecutive
# Uncommenting these lines will sometimes result in lines following an
# if(){} or for(){} block being attached to the end of the block.
# AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Right
SortIncludes: false
SpaceBeforeParens: Never
SpacesInContainerLiterals: false
Standard: Cpp11
